@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


  /* background: #1f2937;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; */

  body {
  background: #111827; /* Tailwind bg-gray-900 */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}




.page-container {
  background-color: #1A202C;
  color: #a0aec0; 
  min-height: 100vh;
}
@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}